/**
 * These styles apply both in the editor and on the front end website.
 */

.wp-block-zebra-north-webgl-shader {
	color: #fff;
	padding: 2px;
}

.wp-block-zebra-north-webgl-shader textarea {
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid #ddd;
	border-radius: 4px;
}
